
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}


.menu a {
    text-decoration: none;
    background-color: #64dc35;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.post_list {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.post_list h3 {
    margin-top: 0;
}

.post_list p {

}

.post_list form {
    margin-top: 20px;
}

.post_list button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.post_list button:hover {
    background-color: #c82333;
}
