/* Общие стили для body и формы */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Минимальная высота равна высоте окна браузера */
}

/* Стили для контейнера формы */
form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

/* Стили для меток полей ввода */
form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    cursor: pointer; /* Добавляем курсор при наведении на метку */
}

/* Стили для текстовых полей и радиокнопок */
form input[type="text"],
form input[type="radio"] {
    margin-bottom: 10px;
    padding: 8px;
    width: calc(100% - 16px); /* Вычисляем ширину с учетом внутренних отступов */
    box-sizing: border-box;
}

/* Стили для радиокнопок и их меток */
form .role-selection {
    margin-bottom: 10px;
}

form .role-selection label {
    display: inline-block;
    margin-right: 15px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

form .role-selection label:hover {
    background-color: #f0f0f0;
}

form .role-selection input[type="radio"] {
    display: none; /* Скрываем радиокнопки */
}

form .role-selection input[type="radio"]:checked + label {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

/* Стили для кнопки сохранения */
form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

form button:hover {
    background-color: #0056b3;
}
