/* Основные стили */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #f8f9fa;
}

h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

p {
    color: #555;
    font-size: 16px;
    margin-bottom: 15px;
}

img {
    display: block;
    margin: 0 auto 15px;
    max-width: 100%;
    height: auto;
}

div {
    margin-bottom: 30px;
}

form {
    margin-top: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

textarea {
    width: 70%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    textarea {
        font-size: 14px;
    }

    button[type="submit"] {
        font-size: 14px;
    }
}

.comments-section {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 4px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.tags {
display: flex;

}

.tags p {
    margin-top: 20px;
    margin-right: 7px;
}

/* Стили для заголовка раздела комментариев */
.comments-section h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

/* Стили для отдельного комментария */
.comment {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
}

/* Стили для имени пользователя в комментарии */
.comment .username {
    font-weight: bold;
    color: #007bff;
}

/* Стили для текста комментария */
.comment .comment-text {
    margin-top: 5px;
    color: #333;
}
