body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* минимальная высота всего экрана */
    background-color: #f4f4f4;
}

.head-div {
    width: 80%; /* ширина контейнера */
    max-width: 800px; /* максимальная ширина контейнера */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* центрирование содержимого внутри контейнера */
}

.head-div h1 {
    margin-bottom: 10px;
}

.head-div p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

.head-div img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block; /* убираем отступы вокруг изображения */
    margin: 0 auto; /* центрируем изображение по горизонтали */
}

.head-div a {
    display: block;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.head-div a:hover {
    text-decoration: underline;
}
